@model EMSWebProject.ViewModel.EmployeeAssestViewModel
<form method="post" asp-controller="Assets" asp-action="AssignAssets" >
    <h2>Assign Something</h2>
    <div class="row">
        <div class="col-6">
            <label class="form-group" for="EmployeeId">Select Employee:</label>
            <select class="form-control" name="EmployeeId" id="" required>
                @foreach (var i in Model.Employees)
                {
                    <option value="@i.Id">@i.Name</option>
                }
            </select>
        </div>
        <div class="col-6">
            <label class="form-group" for="AssetId">Assign Asset:</label>
            <select class="form-control" name="AssetId" id="" required>
                @foreach (var i in Model.Assets)
                {
                    <option value="@i.Id">@i.Name</option>
                }
            </select>
        </div>

    </div>

    <div class="row">
        <div class="form-group mt-2">
            <label for="exampleInputEmail1">Remarks</label>
            <input type="text" class="form-control" id="" aria-describedby="emailHelp" value="" name="Remarks" placeholder="Enter assets Remarks" required>
        </div>
    </div>
   
    <hr />

    <div class="form-group mt-2">

        <button type="submit" class="btn btn-primary btn-user btn-block">Submit</button>
    </div>
</form>